<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PopTestApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AFF0031E1C22DB0400799004</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFF003371C22DB0500799004</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFF003421C22DB0500799004</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
